<<<<<<< HEAD
=======
# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

>>>>>>> origin/master
[settings]
default = JobCrawler.settings

[deploy]
<<<<<<< HEAD
=======
#url = http://localhost:6800/
>>>>>>> origin/master
project = JobCrawler
